[submodule "ClinicalTransformerNER"]
	path = ClinicalTransformerNER
	url = https://github.com/uf-hobi-informatics-lab/ClinicalTransformerNER.git
[submodule "ClinicalTransformerRelationExtraction"]
	path = ClinicalTransformerRelationExtraction
	url = https://github.com/uf-hobi-informatics-lab/ClinicalTransformerRelationExtraction.git
[submodule "ClinicalTransformerClassification"]
	path = ClinicalTransformerClassification
	url = https://github.com/uf-hobi-informatics-lab/ClinicalTransformerClassification.git
